[credential "https://github.com"]
	{{ if eq .chezmoi.os "darwin" }}
	helper = !/opt/homebrew/bin/gh auth git-credential
	{{ else if eq .chezmoi.os "linux" }}
	helper = !/usr/bin/gh auth git-credential
	{{ else }}
	{{ end }}

[credential "https://gist.github.com"]
	
	{{ if eq .chezmoi.os "darwin" }}
	helper = !/opt/homebrew/bin/gh auth git-credential
	{{ else if eq .chezmoi.os "linux" }}
	helper = !/usr/bin/gh auth git-credential
	{{ else }}
	{{ end }}

	
[github]
	user = grburgess
[user]
	name = J. Michael Burgess
	email = jmichaelburgess@gmail.com

[core]
	pager = delta

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true
	syntax-theme = ansi

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
