[credential "https://github.com"]
	helper =
	{{ if eq .chezmoi.os "darwin" }}
	helper = !/opt/homebrew/bin/gh auth git-credential
	{{ else if eq .chezmoi.os "linux" }}
	helper = !/usr/bin/gh auth git-credential
	{{ else }}
	{{ end }}
[credential "https://gist.github.com"]
	helper =
	{{ if eq .chezmoi.os "darwin" }}
	helper = !/opt/homebrew/bin/gh auth git-credential
	{{ else if eq .chezmoi.os "linux" }}
	helper = !/usr/bin/gh auth git-credential
	{{ else }}
	{{ end }}
[github]
	user = grburgess
[user]
	name = J. Michael Burgess
	email = jmichaelburgess@gmail.com
[init]
	defaultBranch = master

[commit]
	gpgsign = true
        template = ~/.gitmessage