alias lab="jupyter lab"

alias ..="cd .."
alias ...="cd ../.."
alias l="lsd -lbF --git"
alias ls="lsd"
alias ll="lsd --long --header --git"
alias wo="workon"
#alias et='te'
alias rm="rm -vi"


alias ma="mamba activate"

alias mc="mamba create"

alias deactivate="conda deactivate"

#alias cow="source ~/.scripts/cow_starup.sh"


