alias lab="jupyter lab"

alias ..="cd .."
alias ...="cd ../.."
alias l="exa -lbF --git"
alias ls="exa"
alias ll="exa --long --header --git --time-style long-iso --color-scale"
alias wo="workon"
alias et='te'
alias rm="rm -vi"

{{ if eq .chezmoi.osRelease.id "raspbian" }}

alias fd="fdfind"

{{ end }}
