alias ..="cd .."
alias ...="cd ../.."

# Modern ls replacement with eza
alias ls="eza --icons"
alias l="eza -lbF --git --icons"
alias ll="eza --long --header --git --icons"
alias la="eza --long --all --header --git --icons"
alias lt="eza --tree --level=2 --icons"
alias lg="eza --long --git --git-ignore --icons"

alias wo="workon"
#alias et='te'
alias rm="rm -vi"

{{ if eq .profile "home" -}}
alias ma="micromamba activate"

alias mc="micromamba create"

alias deactivate="micromamba deactivate"
{{- else -}}
alias ma="mamba activate"

alias mc="mamba create"

alias deactivate="conda deactivate"
{{- end }}

alias gca="source ~/.scripts/cloud_login.sh"

#alias cow="source ~/.scripts/cow_starup.sh"

# Launch ml_dev container in current directory
mldev() {
  local image="us-docker.pkg.dev/devops-tools-295c/us-docker/cnvrg:ml_dev-2026.11.1"
  local gcloud_dir="/Users/burgessj/.config/gcloud"
  local creds="/root/.config/gcloud/legacy_credentials/principal/iam.googleapis.com/locations/global/workforcePools/cape-okta-workforce-pool/subject/JMichael.Burgess@moodys.com/adc.json"

  docker run -it --rm --platform linux/amd64 \
    -v "${PWD}:/workspace" \
    -v "${gcloud_dir}:/root/.config/gcloud:cached" \
    -e GOOGLE_APPLICATION_CREDENTIALS="${creds}" \
    -e GOOGLE_CLOUD_PROJECT="ml-dev-a7b7" \
    -e GITHUB_TOKEN="${GITHUB_TOKEN}" \
    -e HF_TOKEN="${HF_TOKEN}" \
    -w /workspace \
    "${image}" \
    "$@"
}



